<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- position -> margin -> border -> padding -> content순 -->
    
    <!-- content는 width와 height가 차지하는 공간. -->
    <span style="background: yellow">content</span>

    <!-- padding은 경계선(border)과 content사이 간격 -->
    <span style="background: yellow; padding: 10px;">content</span>

    <!-- border은 margin과 구분되는 선 -->
    <span style="background: yellow; padding: 10px; border: 1px solid black">border with padding</span>

    <!-- 주의점! padding, border은 width에 포함되지 않아서 따로 계산해 주어야 함.
    
        ex) width: 50px, padding:10px, border:10px
            width = 90 = 50+(10+10)+(10+10)
        
        만약 이렇게 매번 계산하는게 싫다면 box-sizing: border-box 해줘.
        그러면 width, height의 너비는 content의 넓이가 아니라 border까지 포함한 태그의 너비가 됨.
        기본적으로는 box-sizing: content-box임.
    -->
</body>
</html>